.header {
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    max-width: 100%;
    height: 90px;
    padding: 5px 20px;
    background: #555;
    color: #f1f1f1;
    font-size: 20px;
    overflow: hidden;
    border: 1px solid white;
}

.header-logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: 0.8s;
}

.header-logo:hover {
    box-shadow: 0 0 20px 3px white;
}

.header-logo-name {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header-text {
    padding-left: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    color: white;
    font-family: "DM Serif Text", serif;
}

.header-nav-list {
    list-style-type: none;
    margin: 0 15px 0 15px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: no-wrap;
}

li {
    float: left;
    border-right: 1px solid #bbb;
    position: relative;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    z-index: 0;
}


.burger-nav-list li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    transform: translateX(-100%);
    transition: transform 0.5s ease;


}

.burger-nav-list li:hover::before {
    transform: translateX(0);
    z-index: -1;
}

.burger-icon {
    display: none;
    color: white;
    padding: 14px 8px;
    text-decoration: none;
    cursor: pointer;
}


.burger-nav-list {
    left: -200px;
    display: grid;
    position: fixed;
    top: 95px;
    z-index: 2;
    background: #555;
    padding-left: 0;
    text-align: start;
    list-style-type: none;
    overflow: hidden;
    width: 160px;
    font-size: 20px;
    border: 1px solid white;

}

.burger-nav-list li {
    border-top: 1px solid #bbb;
    border-right: none;
}

.active-page {
    background-color: #333;
    color: #52b238;
}

.header-nav-list li a:hover,
.burger-nav-list li a:hover {
    background-color: #333;
    color: #52b238;
}

.counter-container {
    margin: 0px 60px 60px 0px;
}

.counter-container svg {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    position: absolute;
    transition: transform 0.3s ease;
}

.counter {
    display: inline-block;
    position: absolute;
    color: white;
    background: #52b238;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: -8px;
    padding: 0px 5px 3px 5px;
    transition: transform 0.8s ease-in-out;
}

.scale-up {
    transform: rotateY(-180deg) scale(1.4);
    transition: transform 0.3s ease;
}
